<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">


    <script src="//code.jquery.com/jquery-1.11.1.min.js"  th:src="@{http://code.jquery.com/jquery-1.11.1.min.js}"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"  th:src="@{http://code.jquery.com/jquery-migrate-1.2.1.min.js}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" th:src="@{http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    <script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" th:src="@{https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js}" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" id="font-awesome-css"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"
          th:href="@{http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}">
    <link href="/css/jquery.dataTables.min.css" rel="stylesheet" id="datatable-css"
          th:href="@{/css/jquery.dataTables.min.css}" >

</head>
<body>
</body>
</html>