<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="fragments/head :: head"></th:block>

    <script type="text/javascript" th:src="@{/js/roleTable.js}"></script>

</head>
<body>
<th:block th:include="fragments/header :: header"></th:block>

<div id="wrapper">
    <th:block th:include="fragments/navMenu :: navMenu"></th:block>
    <div id="content" class="main-content-container">
        <table id="example" class="display" width="100%">
        </table>
    </div>
</div>
</body>
</body>
</html>